* {
    margin: 0;
    padding: 0;
}

p {
    margin: 1em 0;
}

.content {
    width: 50em;
    text-align: justify;
    font: 14px helvetica, arial, clean, sans-serif;
    margin: 3em auto 3em auto;
}
